.App {
  padding: 5% 0;
  background-color: #282828;
  color:#fff;

}
.width80{
  width:80%;
  margin:0 auto;
}

/**styling each tile***/
.tile {
    padding: 30px;
    border: 2px solid #eee;
    margin-bottom: 30px;
}


.extraDetails{
    padding-inline-start: 0px;
    margin-top:20px;
}

.extraDetails li{
    display: inline-block;
    font-size: 10px;
    color: #fff;
    background: #f1a336;
    margin-right: 10px;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: 700;
}

h6 a, h6 a:hover{
  color:#f1a336;
  font-size:18px;
  text-decoration:none;
}

.fa-heart {
    color: #be5a0e;
    display: block;
    text-align: right;
}

.rating, .price {
    font-weight: 700;
}

.card{
margin: 10px;

}
.provide{
  max-width:150px;
}
img.rental-card{
  max-height:270px;
}

/**styling carousel***/
.slick-dots{display:none}


@media only screen and (min-width: 768px){
  .tile .row {
    display: flex;
}
img.rental-card{
  max-height:140px;
}
.provide{
  max-width:100%;
}
}